@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Rubik+Mono+One&display=swap');
$font: 'Rubik',
cursive;
$color-0: #953741;
$primary-color: #9a3842;
$color-2: #89323a; //link
$color-3: #6f2830;
$grey-1:#505050;
$grey-2:#c3c3c3;
$grey-3:#dddddd;
// $color-0:#bd8091 ;
// $primary-color:#AE6378 ;
// $color-2:#9a5064 ; //link
// $color-3:#793e4e ;
//BLUE
// $color-0: #85aac0;
// $primary-color: #6392AE;
// $color-2: #48728a; //link
// $color-3: #406479;
// $color-0: #3081b1;
// $primary-color: #296d98;
// $color-2: #235e81; //link
// $color-3: #225b7d;
// $color-0: #88a2ec;
// $primary-color: #88a2ec;
// $color-2: #88a2ec; //link
// $color-3: #88a2ec;