body,
html {
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    color: #777;
    font-weight: 400;
    width: 100% !important;
    height: 100% !important;
}

.landing {
	/* Navigation */
	/* Header Section */
	/* Features Section */
	/* About Section */
	/* Portfolio Section */
	/* Team Section */
	/* Contact Section */
	/* Footer Section*/
}
 .landing h2, .landing h3, .landing h4 {
	 font-family: 'Raleway', sans-serif;
}
 .landing h2 {
	 text-transform: uppercase;
	 margin: 0 0 20px 0;
	 font-weight: 800;
	 font-size: 36px;
	 color: #333;
}
 .landing h3 {
	 font-size: 20px;
	 font-weight: 600;
	 color: #333;
}
 .landing h4 {
	 font-size: 18px;
	 color: #333;
	 font-weight: 600;
}
 .landing h5 {
	 text-transform: uppercase;
	 font-weight: 700;
	 line-height: 20px;
}
 .landing p {
	 font-size: 15px;
}
 .landing p.intro {
	 margin: 0px 0 0;
	 line-height: 24px;
}
 .landing a {
	 color: #608dfd;
	 font-weight: 400;
}
 .landing a:hover, .landing a:focus {
	 text-decoration: none;
	 color: #608dfd;
}
 .landing ul, .landing ol {
	 list-style: none;
}
 .landing ul, .landing ol {
	 padding: 0;
	 webkit-padding: 0;
	 moz-padding: 0;
}
 .landing hr {
	 height: 2px;
	 width: 70px;
	 text-align: center;
	 position: relative;
	 background: #1e7a46;
	 margin-bottom: 20px;
	 border: 0;
}
 .landing #menu {
	 padding: 15px;
	 transition: all 0.8s;
}
 .landing #menu.navbar-default {
	 background-color: #fff;
	 border-color: rgba(231, 231, 231, 0);
	 box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
 .landing #menu a.navbar-brand {
	 font-family: 'Raleway', sans-serif;
	 font-size: 24px;
	 font-weight: 700;
	 color: #333;
	 text-transform: uppercase;
}
 .landing #menu.navbar-default .navbar-nav > li > a {
	 font-family: 'Lato', sans-serif;
	 text-transform: uppercase;
	 color: #555;
	 font-size: 15px;
	 font-weight: 400;
	 padding: 8px 2px;
	 border-radius: 0;
	 margin: 9px 20px 0 20px;
}
 .landing #menu.navbar-default .navbar-nav > li > a:after {
	 display: block;
	 position: absolute;
	 left: 0;
	 bottom: -1px;
	 width: 0;
	 height: 2px;
	 background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
	 content: "";
	 transition: width 0.2s;
}
 .landing #menu.navbar-default .navbar-nav > li > a:hover:after {
	 width: 100%;
}
 .landing .navbar-default .navbar-nav > .active > a, .landing .navbar-default .navbar-nav > .active > a:hover, .landing .navbar-default .navbar-nav > .active > a:focus {
	 background-color: transparent;
}
 .landing .navbar-default .navbar-nav > .active > a:after, .landing .navbar-default .navbar-nav > .active > a:hover:after, .landing .navbar-default .navbar-nav > .active > a:focus:after {
	 display: block !important;
	 position: absolute !important;
	 left: 0 !important;
	 bottom: -1px !important;
	 width: 100% !important;
	 height: 2px !important;
	 background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%) !important;
	 content: "" !important;
	 transition: width 0.2s !important;
}
 .landing .navbar-toggle {
	 border-radius: 0;
}
 .landing .navbar-default .navbar-toggle:hover, .landing .navbar-default .navbar-toggle:focus {
	 background-color: #fff;
	 border-color: #608dfd;
}
 .landing .navbar-default .navbar-toggle:hover > .icon-bar {
	 background-color: #608dfd;
}
 .landing .section-title {
	 margin-bottom: 70px;
}
 .landing .section-title h2 {
	 position: relative;
	 margin-top: 10px;
	 margin-bottom: 15px;
	 padding-bottom: 15px;
}
 .landing .section-title h2::after {
	 position: absolute;
	 content: "";
	 background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
	 height: 4px;
	 width: 60px;
	 bottom: 0;
	 margin-left: -30px;
	 left: 50%;
}
 .landing .section-title p {
	 font-size: 18px;
}
 .landing .btn-custom {
	 font-family: 'Raleway', sans-serif;
	 text-transform: uppercase;
	 color: #fff;
	 background-color: #5ca9fb;
	 background-image: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
	 padding: 14px 34px;
	 letter-spacing: 1px;
	 margin: 0;
	 font-size: 15px;
	 font-weight: 500;
	 border-radius: 25px;
	 transition: all 0.5s linear;
	 border: 0;
}
 .landing .btn-custom:hover, .landing .btn-custom:focus, .landing .btn-custom.focus, .landing .btn-custom:active, .landing .btn-custom.active {
	 color: #fff;
	 background-image: none;
	 background-color: #6372ff;
}
 .landing .btn:active, .landing .btn.active {
	 background-image: none;
	 outline: 0;
	 -webkit-box-shadow: none;
	 box-shadow: none;
}
 .landing a:focus, .landing .btn:focus, .landing .btn:active:focus, .landing .btn.active:focus, .landing .btn.focus, .landing .btn:active.focus, .landing .btn.active.focus {
	 outline: none;
	 outline-offset: none;
}
 .landing .intro {
	 display: table;
	 width: 100%;
	 background: url(../img/social1.jpg) center center no-repeat;
	 background-color: #e5e5e5;
	 -webkit-background-size: cover;
	 -moz-background-size: cover;
	 background-size: cover;
	 -o-background-size: cover;
}
 .landing .intro .overlay {
	 background: rgba(0, 0, 0, 0.2);
}
 .landing .intro h1 {
	 font-family: 'Raleway', sans-serif;
	 color: #fff;
	 font-size: 82px;
	 font-weight: 700;
	 text-transform: uppercase;
	 margin-top: 0;
	 margin-bottom: 10px;
}
 .landing .intro h1 span {
	 font-weight: 800;
	 color: #5ca9fb;
}
 .landing .intro p {
	 color: #fff;
	 font-size: 22px;
	 font-weight: 300;
	 line-height: 30px;
	 margin: 0 auto;
	 margin-bottom: 60px;
}
 .landing header .intro-text {
	 padding-top: 150px;
	 padding-bottom: 200px;
	 text-align: center;
}
 .landing #features {
	 padding: 100px 0;
	 background: #f6f6f6;
}
 .landing #features i.fa {
	 font-size: 38px;
	 margin-bottom: 20px;
	 transition: all 0.5s;
	 color: #fff;
	 width: 100px;
	 height: 100px;
	 padding: 30px 0;
	 border-radius: 50%;
	 background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
	 box-shadow: 10px 10px 10px rgba(0, 0, 0, .05);
}
 .landing #about {
	 padding: 100px 0;
}
 .landing #about h3 {
	 font-size: 22px;
	 margin: 0 0 20px 0;
}
 .landing #about h2 {
	 position: relative;
	 margin-bottom: 15px;
	 padding-bottom: 15px;
}
 .landing #about h2::after {
	 position: absolute;
	 content: "";
	 background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
	 height: 4px;
	 width: 60px;
	 bottom: 0;
	 left: 0;
}
 .landing #about .about-text li {
	 margin-bottom: 6px;
	 margin-left: 6px;
	 list-style: none;
	 padding: 0;
}
 .landing #about .about-text li:before {
	 content: '\f00c';
	 font-family: 'FontAwesome';
	 color: #5ca9fb;
	 font-size: 11px;
	 font-weight: 300;
	 padding-right: 8px;
}
 .landing #about img {
	 width: 520px;
	 margin-top: 10px;
	 background: #fff;
	 border-right: 0;
	 box-shadow: 0 0 50px rgba(0, 0, 0, 0.06);
}
 .landing #about p {
	 line-height: 24px;
	 margin: 30px 0;
}
 .landing #portfolio {
	 padding: 100px 0;
}
 .landing .portfolio-item {
	 margin: 1px -15px 0 -14px;
	 padding: 0;
}
 .landing .portfolio-item .hover-bg {
	 overflow: hidden;
	 position: relative;
	 margin: 0;
}
 .landing .hover-bg .hover-text {
	 position: absolute;
	 text-align: center;
	 margin: 0 auto;
	 color: #fff;
	 background: linear-gradient(to right, rgba(99, 114, 255, 0.8) 0%, rgba(92, 169, 251, 0.8) 100%);
	 padding: 30% 0 0 0;
	 height: 100%;
	 width: 100%;
	 opacity: 0;
	 transition: all 0.5s;
}
 .landing .hover-bg .hover-text > h4 {
	 opacity: 0;
	 color: #fff;
	 -webkit-transform: translateY(100%);
	 transform: translateY(100%);
	 transition: all 0.3s;
	 font-size: 18px;
	 letter-spacing: 1px;
	 font-weight: 500;
	 text-transform: uppercase;
}
 .landing .hover-bg:hover .hover-text > h4 {
	 opacity: 1;
	 -webkit-backface-visibility: hidden;
	 -webkit-transform: translateY(0);
	 transform: translateY(0);
}
 .landing .hover-bg:hover .hover-text {
	 opacity: 1;
}
 .landing #team {
	 padding: 100px 0;
}
 .landing #team h4 {
	 margin: 5px 0;
}
 .landing #team .team-img {
	 width: 240px;
}
 .landing #team .thumbnail {
	 background: transparent;
	 border: 0;
}
 .landing #team .thumbnail .caption {
	 padding: 10px 0 0 0;
	 color: #888;
}
 .landing #contact {
	 padding: 100px 0 60px 0;
	 background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
	 color: rgba(255, 255, 255, .75);
}
 .landing #contact .section-title {
	 margin-bottom: 40px;
}
 .landing #contact .section-title p {
	 font-size: 16px;
}
 .landing #contact h2 {
	 color: #fff;
	 margin-top: 10px;
	 margin-bottom: 15px;
	 padding-bottom: 15px;
}
 .landing #contact .section-title h2::after {
	 position: absolute;
	 content: "";
	 background: rgba(255, 255, 255, .3);
	 height: 4px;
	 width: 60px;
	 bottom: 0;
	 left: 30px;
}
 .landing #contact h3 {
	 color: #fff;
	 margin-top: 80px;
	 margin-bottom: 25px;
	 padding-bottom: 20px;
	 font-weight: 400;
}
 .landing #contact form {
	 padding-top: 20px;
}
 .landing #contact .text-danger {
	 color: #c03;
	 text-align: left;
}
 .landing #contact .btn-custom {
	 margin: 30px 0;
	 background: transparent;
	 border: 2px solid #fff;
}
 .landing #contact .btn-custom:hover {
	 color: #1f386e;
	 background: #fff;
}
 .landing label {
	 font-size: 12px;
	 font-weight: 400;
	 font-family: 'Open Sans', sans-serif;
	 float: left;
}
 .landing #contact .form-control {
	 display: block;
	 width: 100%;
	 padding: 6px 12px;
	 font-size: 16px;
	 line-height: 1.42857143;
	 color: #444;
	 background-color: #fff;
	 background-image: none;
	 border: 1px solid #ddd;
	 border-radius: 0;
	 -webkit-box-shadow: none;
	 box-shadow: none;
	 -webkit-transition: none;
	 -o-transition: none;
	 transition: none;
}
 .landing #contact .form-control:focus {
	 border-color: #999;
	 outline: 0;
	 -webkit-box-shadow: transparent;
	 box-shadow: transparent;
}
 .landing .form-control::-webkit-input-placeholder {
	 color: #777;
}
 .landing .form-control:-moz-placeholder {
	 color: #777;
}
 .landing .form-control::-moz-placeholder {
	 color: #777;
}
 .landing .form-control:-ms-input-placeholder {
	 color: #777;
}
 .landing #contact .contact-item {
	 margin: 20px 0;
}
 .landing #contact .contact-item span {
	 color: rgba(255, 255, 255, 1);
	 margin-bottom: 10px;
	 display: block;
}
 .landing #contact .contact-item i.fa {
	 margin-right: 10px;
}
 .landing #contact .social {
	 border-top: 1px solid rgba(255, 255, 255, 0.15);
	 padding-top: 50px;
	 margin-top: 50px;
	 text-align: center;
}
 .landing #contact .social ul li {
	 display: inline-block;
	 margin: 0 20px;
}
 .landing #contact .social i.fa {
	 font-size: 22px;
	 width: 48px;
	 height: 48px;
	 padding: 12px 0;
	 border: 2px solid #fff;
	 color: #fff;
	 border-radius: 50%;
	 transition: all 0.3s;
}
 .landing #contact .social i.fa:hover {
	 color: #608dfd;
	 background: #fff;
}
 .landing #footer {
	 background: #f6f6f6;
	 padding: 30px 0;
}
 .landing #footer p {
	 color: #888;
	 font-size: 14px;
}
 .landing #footer a {
	 color: #608dfd;
}
 .landing #footer a:hover {
	 border-bottom: 2px solid #608dfd;
}
 

@media (max-width: 768px) {
    .landing #about img {
        margin: 50px 0;
    }
}