@import "../scss/styles.scss";
@import "../scss/variables.scss";
$spacing:10px;
$button-size:22px;
.chat-info {
    font-size: 16px;
    color: $grey-1;
    display: flex;
    flex-direction: row;
    * {
        margin: 5px;
    }
    &.chat-op {
        word-break: break-word;
    }
    &.chat-date {}
}

.chat-container.chat {
    width: 400px;
    .no-chat {
        color: $grey-1;
        text-align: center;
        align-self: center;
    }
    .chat-header {
        background-color: $primary-color;
        color: #fff;
        border-radius: $spacing $spacing 0 0;
        height: 10%;
        display: flex;
        flex-direction: row;
        // justify-content: center;
        align-items: flex-end;
        position: relative;
        .anticon {
            cursor: pointer;
        }
        .anticon.info {
            // font-size: 18px;
            position: absolute;
            bottom: 3px;
            right: 3px;
        }
        .anticon.leave {
            position: absolute;
            top: 3px;
            right: 3px;
        }
        h2.user-count {
            margin: 0;
            font-size: 16px;
            color: $grey-3;
            cursor: pointer;
        }
        h2.user-name {
            align-self: center;
            padding: 0 30%;
            margin: 0;
            flex: 1;
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: center;
            font-size: 20px;
            color: #fff;
            justify-self: center;
        }
        .avatar-box.pv {
            position: absolute;
            left: 10px;
            bottom: 0;
        }
        .avatar-box {
            display: flex;
            flex-direction: row;
            padding-right: 50px;
            margin-right: 3px;
            .unknown {
                display: flex;
                align-items: flex-end;
                justify-content: center;
                height: 100%;
                position: relative;
                margin-right: -50px;
                img {
                    height: 80px;
                    // margin-right: -60px;
                }
                .count {
                    align-self: center;
                    position: absolute;
                    margin: 0;
                    font-size: 20px;
                    color: $grey-1;
                }
            }
            img.user-avatar {
                margin-right: -50px;
                height: 80px;
                width: auto;
            }
        }
    }
    .chat-body {
        height: calc(90% - 2px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        overflow: hidden;
        width: 100%;
        .send-message-wrapper {
            border-radius: 0 0 $spacing $spacing;
            padding: 10px;
            background-color: $grey-2;
            height: 105px;
            form {
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .send-message-textarea {
                    textarea.ant-input {
                        font-size: 18px;
                    }
                    width: calc(100% - 50px);
                    height: 100%;
                    * {
                        height: 100%;
                        min-height: 100%;
                    }
                    margin: 0;
                }
            }
            .send-message-col {
                width: 40px;
                justify-content: space-between;
                display: flex;
                flex-direction: column;
                .button {
                    min-width: auto;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    span.anticon {
                        width: $button-size;
                        height: $button-size;
                        svg {
                            font-size: $button-size;
                            padding: 0;
                        }
                    }
                }
            }
            .send-button {
                .anticon {
                    transform: rotate(-30deg) translate(3px, -0);
                }
            }
        }
        .message-wrapper {
            @extend .scrollbar;
            border: 1px solid $grey-2;
            height: calc(100% - 107px);
            overflow-y: auto;
            // overflow: hidden;
            display: flex;
            flex-direction: column;
            padding: 5px;
            width: 100%;
            .message {
                overflow-wrap: break-word;
                max-width: 80%;
                width: 80%;
                // width: fit-content;
                display: flex;
                flex-direction: column;
                margin: $spacing/2;
                margin-bottom: 0;
                position: relative;
                * {
                    margin: 0;
                }
                h3.date {
                    font-size: 12px;
                }
                .user-row {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    max-width: 100%;
                    img.user-avatar {
                        align-self: flex-end;
                        width: 50px;
                        height: 50px;
                    }
                    h2.user {
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        max-width: 100px;
                        //position: absolute;
                        //margin-bottom: -$spacing + 3px;
                        font-size: 14px;
                        //margin-top: -$spacing;
                        margin-bottom: -$spacing/3;
                        // font-weight: bold;
                    }
                    p.content {
                        max-width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        font-size: 17px;
                        padding: $spacing;
                        padding-top: 0;
                        // word-break: break-word;
                        // overflow-wrap: break-word;
                        word-break: break-all;
                        // width: -webkit-fill-available;
                    }
                }
                &.self {
                    h3.date {
                        //bring to end
                        margin-right: 5px;
                        align-self: flex-end;
                    }
                    h2.user {
                        align-self: flex-end;
                        margin-right: -$spacing/2;
                        float: right;
                        color: rgba(255, 255, 255, 0.7);
                    }
                    align-self: flex-end;
                    .user-row {
                        flex-direction: row-reverse;
                        p.content {
                            border-radius: 10px;
                            background-color: $color-0;
                            color: #fff;
                            position: relative;
                            &::before {
                                content: ' ';
                                position: absolute;
                                width: 0;
                                height: 0;
                                left: auto;
                                right: -10px;
                                bottom: 0px;
                                top: auto;
                                border: 12px solid;
                                border-color: transparent transparent $color-0 transparent;
                            }
                        }
                    }
                }
                &.others {
                    align-self: flex-start;
                    h3.date {
                        margin-left: 5px;
                    }
                    h2.user {
                        margin-left: -$spacing/2;
                        // float: left;
                        color: $color-2;
                    }
                    p.content {
                        border-radius: 10px;
                        background-color: $grey-3;
                        color: $grey-1;
                        align-self: flex-start;
                        position: relative;
                        &::before {
                            content: ' ';
                            position: absolute;
                            width: 0;
                            height: 0;
                            left: -10px;
                            right: auto;
                            bottom: 0px;
                            top: auto;
                            border: 12px solid;
                            border-color: transparent transparent $grey-3 transparent;
                        }
                    }
                }
            }
        }
    }
}