/* @import '~antd/dist/antd.css'; */

@import '../../../node_modules/antd/dist/antd.css';

/* @import 'style/custom-antd.css'; */

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Rubik+Mono+One&display=swap');

/* @import '~antd/dist/antd.dark.css'; */

#app {
    min-height: 100%;
    height: 100%;
    width: 100%;
}

html {
    height: 100%;
    margin: 0;
}

body {
    background-color: #88B1AF;
    display: flex;
    align-items: start;
    height: 100%;
    margin: 0;
}

.box {
    z-index: -1;
    position: fixed;
    top: 0;
    transform: rotate(80deg);
    left: 0;
}

.wave {
    position: fixed;
    top: 0;
    left: 0;
    opacity: .4;
    position: absolute;
    /* top: 3%;
    left: 10%; */
    background: #cbf7f4;
    width: 300vw;
    height: 300vw;
    margin-left: -2vh;
    margin-top: -80vw;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 7000ms infinite linear;
}

.wave.-three {
    animation: drift 7500ms infinite linear;
    position: fixed;
    background-color: #88b1af;
}

.wave.-two {
    animation: drift 3000ms infinite linear;
    opacity: .1;
    background: black;
    position: fixed;
}

.box:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    transform: translate3d(0, 0, 0);
}

@keyframes drift {
    from {
        transform: rotate(0deg);
    }
    from {
        transform: rotate(360deg);
    }
}

.ant-col {
    transition: all ease;
}

#signUp-container {
    /* background-color: cornflowerblue; */
    transition: all 1s ease;
    overflow: hidden;
}

.signUp-container-active {
    min-height: 212px;
    max-height: 360px;
    /* border: 1px solid red; */
}

.signUp-container-non {
    min-height: 0px;
    max-height: 0;
    height: 0;
    margin: 0;
}

#form-container input {
    font-size: 16px;
}

a.login-form-forgot {
    font-size: 16px;
    color: #5f8685;
    font-weight: bold;
}

#form-container h1 {
    font-size: 26px;
    text-align: center;
    border-bottom: 1px solid #dfdfdf;
}

#form-container .ant-form-item {
    margin-bottom: 10px;
}

#form-container button {
    width: 100%;
    background-color: #708d8c;
    border: #708d8c;
}

#form-container {
    opacity: .8;
    min-height: 100vh;
    /* height: 100%; */
    font-family: 'Rubik', cursive;
    background: rgba(244, 244, 244, 6);
    /* box-shadow: 0px 0px 0px 1px #ebebeb, 0px 0px 0px 10px #fdfdfd, 0px 0px 0px 11px #dfdfdf, 0px 0px 10px 10px rgba(0, 0, 0, 0.48); */
    /* box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.48); */
    padding: 20px;
    /* background-color: white; */
    width: 400px;
    /* border-radius: 20px; */
    font-size: 20px;
}

.login-form-button {
    transition: all 3s;
}

.login-signup-container {
    min-height: 100%;
    /* height: 100%; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.buttons-col {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    /* font-family: 'Staatliches', cursive; */
    /* font-size: 30px !important; */
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #form-container {
        width: 250px;
    }
}