/* @import '~antd/dist/antd.css'; */


/* @import '../../../node_modules/antd/dist/antd.css'; */


/* @import './css/antd.css' */


/* @import 'style/custom-antd.css'; */


/* @import '~antd/lib/style/themes/default.less'; */


/* @import '~antd/dist/antd.less'; */

@import url('./css/antd.css');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Rubik+Mono+One&display=swap');

/* @import '~antd/dist/antd.dark.css'; */


/* .avatar-form-button.ant-btn {
    height: auto;
    white-space: normal;
} */

body {
    background-color: #AE6378;
    display: flex;
    align-items: center;
    justify-content: center;
    /* transition: all 1s ease; */
    padding: 50px;
}

.box {
    z-index: -1;
    position: fixed;
    top: 0;
    transform: rotate(80deg);
    left: 0;
}

.wave {
    position: fixed;
    top: 0;
    left: 0;
    opacity: .4;
    position: absolute;
    /* top: 3%;
    left: 10%; */
    background: #bd8091;
    width: 300vw;
    height: 300vw;
    margin-left: -2vw;
    margin-top: -80vw;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 9000ms infinite linear;
}

.wave.-three {
    animation: drift 9500ms infinite linear;
    position: fixed;
    background-color: #9a5064;
}

.wave.-two {
    animation: drift 8000ms infinite linear;
    opacity: .1;
    background: black;
    position: fixed;
}

.box:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    transform: translate3d(0, 0, 0);
}

@keyframes drift {
    from {
        transform: rotate(0deg);
    }
    from {
        transform: rotate(360deg);
    }
}


/* #form-container input {
    font-size: 16px;
} */

#form-container h1,
#email-confirmation-container h1 {
    width: 100%;
    display: block;
    font-size: 26px;
    text-align: center;
    border-bottom: 1px solid #dfdfdf;
}

#form-container.submit button,
#email-confirmation-container.submit button {
    /* width: 100%; */
    background-color: #9a5064;
    border: #9a5064;
}

#form-container,
#email-confirmation-container {
    /* min-height: 100vh; */
    /* height: 100%; */
    font-family: 'Rubik', cursive;
    background: rgba(244, 244, 244);
    /* box-shadow: 0px 0px 0px 1px #ebebeb, 0px 0px 0px 10px #fdfdfd, 0px 0px 0px 11px #dfdfdf, 0px 0px 10px 10px rgba(0, 0, 0, 0.48); */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3), 0px 0px 100vw 0px #793e4e;
    padding: 20px 22px;
    /* background-color: white; */
    width: 400px;
    border-radius: 10px;
    font-size: 20px;
}

.ant-input-group-addon {
    padding: 0 7px;
    background: transparent;
    border: 0;
}

.password-info {
    /* padding: 0; */
    color: #686868;
    transition: opacity .5s ease-in-out;
    font-size: 20px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.label {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    /* font-family: 'Staatliches', cursive; */
    /* font-size: 30px !important; */
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #form-container,
    #email-confirmation-container {
        max-width: 80%;
    }
}