@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Rubik+Mono+One&display=swap');
#BOM {
    visibility: hidden;
    width: 480px;
    height: 380px;
    text-justify: center;
    justify-items: center;
    justify-self: center;
    justify-content: center;
    margin: 5px;
    margin-top: -190px;
    margin-left: -190px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -10;
    opacity: 0;
    -webkit-transition: opacity 0.01s ease-in-out;
    transition: opacity 0.01s ease-in-out;
}

#BOM.fade1 {
    width: 480px;
    height: 380px;
    text-justify: center;
    justify-items: center;
    justify-self: center;
    justify-content: center;
    margin: 5px;
    margin-top: -190px;
    margin-left: -190px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -10;
    opacity: 0;
    -webkit-transition: opacity 0.01s ease-in-out;
    transition: opacity 0.01s ease-in-out;
}

#BOM.fade2 {
    width: 480px;
    height: 380px;
    text-justify: center;
    justify-items: center;
    justify-self: center;
    justify-content: center;
    margin: 5px;
    margin-top: -190px;
    margin-left: -190px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -10;
    opacity: 0;
    -webkit-transition: opacity 0.01s ease-in-out;
    transition: opacity 0.01s ease-in-out;
}

#BOM.fade3 {
    width: 480px;
    height: 380px;
    text-justify: center;
    justify-items: center;
    justify-self: center;
    justify-content: center;
    margin: 5px;
    margin-top: -190px;
    margin-left: -190px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -10;
    opacity: 0;
    -webkit-transition: opacity 0.01s ease-in-out;
    transition: opacity 0.01s ease-in-out;
}

#BOM.fade4 {
    width: 480px;
    height: 380px;
    text-justify: center;
    justify-items: center;
    justify-self: center;
    justify-content: center;
    margin: 5px;
    margin-top: -190px;
    margin-left: -190px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -10;
    opacity: 0;
    -webkit-transition: opacity 0.01s ease-in-out;
    transition: opacity 0.01s ease-in-out;
}

#BOM.fade5 {
    width: 480px;
    height: 380px;
    text-justify: center;
    justify-items: center;
    justify-self: center;
    justify-content: center;
    margin: 5px;
    margin-top: -190px;
    margin-left: -190px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -10;
    opacity: 0;
    -webkit-transition: opacity 0.01s ease-in-out;
    transition: opacity 0.01s ease-in-out;
}

#BOM.fade6 {
    width: 480px;
    height: 380px;
    text-justify: center;
    justify-items: center;
    justify-self: center;
    justify-content: center;
    margin: 5px;
    margin-top: -190px;
    margin-left: -190px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -10;
    opacity: 0;
    -webkit-transition: opacity 0.01s ease-in-out;
    transition: opacity 0.01s ease-in-out;
}

#BOM.fade7 {
    width: 480px;
    height: 380px;
    text-justify: center;
    justify-items: center;
    justify-self: center;
    justify-content: center;
    margin: 5px;
    margin-top: -190px;
    margin-left: -190px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -10;
    opacity: 0;
    -webkit-transition: opacity 0.01s ease-in-out;
    transition: opacity 0.01s ease-in-out;
}

#BOM.fade8 {
    width: 480px;
    height: 380px;
    text-justify: center;
    justify-items: center;
    justify-self: center;
    justify-content: center;
    margin: 5px;
    margin-top: -190px;
    margin-left: -190px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -10;
    opacity: 0;
    -webkit-transition: opacity 0.01s ease-in-out;
    transition: opacity 0.01s ease-in-out;
}

#BOM.fade9 {
    width: 480px;
    height: 380px;
    text-justify: center;
    justify-items: center;
    justify-self: center;
    justify-content: center;
    margin: 5px;
    margin-top: -190px;
    margin-left: -190px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -10;
    opacity: 0;
    -webkit-transition: opacity 0.01s ease-in-out;
    transition: opacity 0.01s ease-in-out;
}

#BOM.fade10 {
    width: 480px;
    height: 380px;
    text-justify: center;
    justify-items: center;
    justify-self: center;
    justify-content: center;
    margin: 5px;
    margin-top: -190px;
    margin-left: -190px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -10;
    opacity: 0;
    -webkit-transition: opacity 0.01s ease-in-out;
    transition: opacity 0.01s ease-in-out;
}

@media screen and (max-width: 780px) {
    #BOM {
        visibility: hidden;
    }
    #BOM.fade1 {
        visibility: hidden;
    }
}