@import '../../../node_modules/antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Rubik+Mono+One&display=swap');
#BOM {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 3px solid rgb(245, 3, 3);
    margin: 5px;
    opacity: 0.05;
    width: 200px;
    height: 160px;
    margin-top: -80px;
    margin-left: -100px;
    -webkit-transition: opacity 0.01s ease-in-out;
    transition: opacity 0.01s ease-in-out;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -10;
}

#BOM.fade1 {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 3px solid rgb(245, 3, 3);
    margin: 5px;
    width: 200px;
    height: 160px;
    margin-top: -80px;
    margin-left: -100px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -10;
    opacity: 0.1;
    -webkit-transition: opacity 0.01s ease-in-out;
    transition: opacity 0.01s ease-in-out;
}

#BOM.fade2 {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 3px solid rgb(245, 3, 3);
    margin: 5px;
    width: 200px;
    height: 160px;
    margin-top: -80px;
    margin-left: -100px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -10;
    opacity: 0.2;
    -webkit-transition: opacity 0.01s ease-in-out;
    transition: opacity 0.01s ease-in-out;
}

#BOM.fade3 {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 3px solid rgb(245, 3, 3);
    margin: 5px;
    width: 200px;
    height: 160px;
    margin-top: -80px;
    margin-left: -100px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -10;
    opacity: 0.3;
    -webkit-transition: opacity 0.01s ease-in-out;
    transition: opacity 0.01s ease-in-out;
}

#BOM.fade4 {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 3px solid rgb(245, 3, 3);
    margin: 5px;
    width: 200px;
    height: 160px;
    margin-top: -80px;
    margin-left: -100px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -10;
    opacity: 0.4;
    -webkit-transition: opacity 0.01s ease-in-out;
    transition: opacity 0.01s ease-in-out;
}

#BOM.fade5 {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 3px solid rgb(245, 3, 3);
    margin: 5px;
    width: 200px;
    height: 160px;
    margin-top: -80px;
    margin-left: -100px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -10;
    opacity: 0.5;
    -webkit-transition: opacity 0.01s ease-in-out;
    transition: opacity 0.01s ease-in-out;
}

#BOM.fade6 {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 3px solid rgb(245, 3, 3);
    margin: 5px;
    width: 200px;
    height: 160px;
    margin-top: -80px;
    margin-left: -100px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -10;
    opacity: 0.6;
    -webkit-transition: opacity 0.01s ease-in-out;
    transition: opacity 0.01s ease-in-out;
}

#BOM.fade7 {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 3px solid rgb(245, 3, 3);
    margin: 5px;
    width: 200px;
    height: 160px;
    margin-top: -80px;
    margin-left: -100px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -10;
    opacity: 0.7;
    -webkit-transition: opacity 0.01s ease-in-out;
    transition: opacity 0.01s ease-in-out;
}

#BOM.fade8 {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 3px solid rgb(245, 3, 3);
    margin: 5px;
    width: 200px;
    height: 160px;
    margin-top: -80px;
    margin-left: -100px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -10;
    opacity: 0.8;
    -webkit-transition: opacity 0.01s ease-in-out;
    transition: opacity 0.01s ease-in-out;
}

#BOM.fade9 {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 3px solid rgb(245, 3, 3);
    margin: 5px;
    width: 200px;
    height: 160px;
    margin-top: -80px;
    margin-left: -100px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -10;
    opacity: 0.9;
    -webkit-transition: opacity 0.01s ease-in-out;
    transition: opacity 0.01s ease-in-out;
}

#BOM.fade10 {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 3px solid rgb(245, 3, 3);
    margin: 5px;
    width: 200px;
    height: 160px;
    margin-top: -80px;
    margin-left: -100px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -10;
    opacity: 1;
    -webkit-transition: opacity 0.01s ease-in-out;
    transition: opacity 0.01s ease-in-out;
}