    @import "./scss/styles.scss";
    @import "./scss/variables.scss";
    $spacing:10px;
    $button-size:22px;
    .emojis-container {
        width: 180px;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        .emoji {
            display: flex;
            flex: 1 0 11%;
            // margin: 0 5px;
            cursor: pointer;
            font-size: 25px;
            width: auto;
        }
    }
    
    .chat-container {
        transition: 1s ease;
        position: relative;
        padding: 10px;
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @extend .container;
        width: 400px;
        height: 80vh;
        .chat-header {
            background-color: $primary-color;
            color: #fff;
            border-radius: $spacing $spacing 0 0;
            height: 10%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: flex-end;
            .user-box {
                height: 180%;
                display: flex;
                flex-direction: column;
                justify-content: end;
                align-items: flex-end;
                h1.user-name {
                    line-height: 18px;
                    font-size: 18px;
                    color: #fff;
                    border: none;
                    margin: 0;
                }
                img.user-avatar {
                    height: calc(100% - 18px);
                    width: auto;
                }
            }
        }
        .send-message-wrapper {
            border-radius: 0 0 $spacing $spacing;
            padding: 10px;
            background-color: #c3c3c3;
            height: 105px;
            form {
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .send-message-textarea {
                    textarea.ant-input {
                        font-size: 18px;
                    }
                    width: calc(100% - 50px);
                    height: 100%;
                    * {
                        height: 100%;
                        min-height: 100%;
                    }
                    margin: 0;
                }
            }
            .send-message-col {
                width: 40px;
                justify-content: space-between;
                display: flex;
                flex-direction: column;
                .button {
                    min-width: auto;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    span.anticon {
                        width: $button-size;
                        height: $button-size;
                        svg {
                            font-size: $button-size;
                            padding: 0;
                        }
                    }
                }
            }
            .send-button {
                .anticon {
                    transform: rotate(-30deg) translate(3px, -0);
                }
            }
        }
        .message-wrapper {
            @extend .scrollbar;
            border: 1px solid #c3c3c3;
            overflow-y: auto;
            height: calc(90% - 110px);
            display: flex;
            flex-direction: column;
            padding: 5px;
            .message {
                overflow-wrap: break-word;
                max-width: 80%;
                width: fit-content;
                display: flex;
                flex-direction: column;
                margin: $spacing/2;
                margin-bottom: 0;
                position: relative;
                * {
                    margin: 0;
                }
                h3.date {
                    font-size: 12px;
                }
                .user-row {
                    display: flex;
                    flex-direction: row;
                    img.user-avatar {
                        width: 50px;
                        height: auto;
                    }
                    h2.user {
                        margin-bottom: -$spacing + 3px;
                        font-size: 14px;
                        margin-top: -$spacing;
                        // margin-bottom: $spacing/2;
                        // font-weight: bold;
                    }
                    p.content {
                        font-size: 17px;
                        padding: $spacing;
                        width: -webkit-fill-available;
                    }
                }
                &.self {
                    h3.date {
                        //bring to end
                        margin-right: 5px;
                        align-self: flex-end;
                    }
                    h2.user {
                        margin-right: -$spacing/2;
                        float: right;
                        color: rgba(255, 255, 255, 0.7);
                    }
                    align-self: flex-end;
                    .user-row {
                        flex-direction: row-reverse;
                        p.content {
                            border-radius: 10px;
                            background-color: $color-0;
                            color: #fff;
                            position: relative;
                            &::before {
                                content: ' ';
                                position: absolute;
                                width: 0;
                                height: 0;
                                left: auto;
                                right: -10px;
                                bottom: 0px;
                                top: auto;
                                border: 12px solid;
                                border-color: transparent transparent $color-0 transparent;
                            }
                        }
                    }
                }
                &.others {
                    h3.date {
                        margin-left: 5px;
                    }
                    h2.user {
                        margin-left: -$spacing/2;
                        // float: left;
                        color: $color-2;
                    }
                    p.content {
                        border-radius: 10px;
                        background-color: #d6d6d6;
                        color: #505050;
                        align-self: flex-start;
                        position: relative;
                        &::before {
                            content: ' ';
                            position: absolute;
                            width: 0;
                            height: 0;
                            left: -10px;
                            right: auto;
                            bottom: 0px;
                            top: auto;
                            border: 12px solid;
                            border-color: transparent transparent #d6d6d6 transparent;
                        }
                    }
                }
            }
        }
    }
    
    @media only screen and (max-width: 480px) {
        $button-size: 16px;
        .emojis-container {
            width: 150px !important;
            .emoji {
                font-size: 20px;
                width: auto;
            }
        }
        .chat-container {
            position: absolute;
            width: 90%!important;
            height: 90% !important; //calc(90% - 50px) for navbar
            max-height: none!important;
            bottom: 20px !important;
            .chat-header {
                .user-box {
                    h1.user-name {
                        line-height: 16px;
                        font-size: 16px;
                    }
                    img.user-avatar {
                        height: calc(100% - 16px);
                        width: auto;
                    }
                }
            }
            .message-wrapper {
                height: calc(90% - 90px) !important;
                .message {
                    margin: 0 $spacing;
                    h3.date {
                        margin: 0 !important;
                        font-size: 12px;
                    }
                    h2.user {
                        font-size: 12px;
                    }
                    .user-row {
                        img.user-avatar {
                            width: 0;
                        }
                        p.content {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        .send-message-wrapper {
            height: 85px !important;
            form {
                .send-message-textarea {
                    textarea.ant-input {
                        font-size: 16px !important;
                    }
                    width: calc(100% - 40px) !important;
                }
            }
            .send-message-col {
                width: 30px !important;
                .button {
                    height: 30px !important;
                    span.anticon {
                        width: $button-size !important;
                        height: $button-size !important;
                        svg {
                            font-size: $button-size !important;
                            padding: 0;
                        }
                    }
                }
            }
        }
    }
    
    // .PicAndName {
    //     // width: 600px;
    //     // margin-left: -12px;
    //     // margin-top: -5px;
    //     // height: 100px;
    //     background-color: rgba(0, 0, 0, 0.1);
    //     height: 90%;
    //     width: 98%;
    //     border-radius: 2px;
    // }