#email-confirmation-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#email-confirmation-container .ant-result-error .ant-result-icon>.anticon {
    color: #a32424
}

#email-confirmation-container .ant-result-success .ant-result-icon>.anticon {
    color: #488f25
}