@import './scss/styles.scss';
.form-button {
    transition: all 3s;
    margin: 0;
    button {
        width: 100%;
    }
}

h1#state-row {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 24px;
    button {
        padding: 0 5px;
        cursor: pointer;
        background-color: transparent;
        color: #c9c9c9;
        border: none;
        transition: all .5s ease;
    }
    button.checked {
        transition: all .5s ease;
        background-color: rgb(244, 244, 244);
        color: #363636;
    }
}

.forgot-pass-button {
    font-size: .5rem;
}

button {
    &:checked {
        outline: none;
    }
    &:focus {
        outline: none;
    }
}

.bg-container {
    min-height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#signUp-container {
    transition: all .5s ease;
    overflow: hidden;
}

.signUp-container-active {
    min-height: 128px;
    max-height: 128px;
    height: auto;
}

.signUp-container-non {
    min-height: 0px;
    max-height: 0;
    height: 0;
    margin: 0;
}

#pass-container {
    transition: all .5s ease;
    overflow: hidden;
}

.pass-container-active {
    min-height: 64px;
    max-height: 64px;
    height: auto;
}

.pass-container-non {
    min-height: 0px;
    max-height: 0;
    height: 0;
    margin: 0;
}

.buttons-col {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form-container,
.forgot-pass-container {
    @extend .container;
    width: 400px;
}