@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Rubik+Mono+One&display=swap');
#OM {}

#OM.fade1 {
    opacity: 0.95;
    -webkit-transition: opacity 0.01s ease-in-out;
    transition: opacity 0.01s ease-in-out;
    transform: rotate(5deg);
}

#OM.fade2 {
    opacity: 0.90;
    -webkit-transition: opacity 0.01s ease-in-out;
    transition: opacity 0.01s ease-in-out;
    transform: rotate(5deg);
}

#OM.fade3 {
    opacity: 0.85;
    -webkit-transition: opacity 0.01s ease-in-out;
    transition: opacity 0.01s ease-in-out;
    transform: rotate(5deg);
}

#OM.fade4 {
    opacity: 0.8;
    -webkit-transition: opacity 0.01s ease-in-out;
    transition: opacity 0.01s ease-in-out;
    transform: rotate(5deg);
}

#OM.fade5 {
    opacity: 0.75;
    -webkit-transition: opacity 0.01s ease-in-out;
    transition: opacity 0.01s ease-in-out;
    transform: rotate(5deg);
}

#OM.fade6 {
    opacity: 0.7;
    -webkit-transition: opacity 0.01s ease-in-out;
    transition: opacity 0.01s ease-in-out;
    transform: rotate(5deg);
}

#OM.fade7 {
    opacity: 0.65;
    -webkit-transition: opacity 0.01s ease-in-out;
    transition: opacity 0.01s ease-in-out;
    transform: rotate(5deg);
}

#OM.fade8 {
    opacity: 0.6;
    -webkit-transition: opacity 0.01s ease-in-out;
    transition: opacity 0.01s ease-in-out;
    transform: rotate(5deg);
}

#OM.fade9 {
    opacity: 0.55;
    -webkit-transition: opacity 0.01s ease-in-out;
    transition: opacity 0.01s ease-in-out;
    transform: rotate(5deg);
}

#OM.fade10 {
    opacity: 0.5;
    -webkit-transition: opacity 0.01s ease-in-out;
    transition: opacity 0.01s ease-in-out;
    transform: rotate(5deg);
}

#OM.fade1neg {
    opacity: 0.95;
    -webkit-transition: opacity 0.01s ease-in-out;
    transition: opacity 0.01s ease-in-out;
    transform: rotate(-5deg);
}

#OM.fade2neg {
    opacity: 0.9;
    -webkit-transition: opacity 0.01s ease-in-out;
    transition: opacity 0.01s ease-in-out;
    transform: rotate(-5deg);
}

#OM.fade3neg {
    opacity: 0.95;
    -webkit-transition: opacity 0.01s ease-in-out;
    transition: opacity 0.01s ease-in-out;
    transform: rotate(-5deg);
}

#OM.fade4neg {
    opacity: 0.80;
    -webkit-transition: opacity 0.01s ease-in-out;
    transition: opacity 0.01s ease-in-out;
    transform: rotate(-5deg);
}

#OM.fade5neg {
    opacity: 0.75;
    -webkit-transition: opacity 0.01s ease-in-out;
    transition: opacity 0.01s ease-in-out;
    transform: rotate(-5deg);
}

#OM.fade6neg {
    opacity: 0.7;
    -webkit-transition: opacity 0.01s ease-in-out;
    transition: opacity 0.01s ease-in-out;
    transform: rotate(-5deg);
}

#OM.fade7neg {
    opacity: 0.65;
    -webkit-transition: opacity 0.01s ease-in-out;
    transition: opacity 0.01s ease-in-out;
    transform: rotate(-5deg);
}

#OM.fade8neg {
    opacity: 0.6;
    -webkit-transition: opacity 0.01s ease-in-out;
    transition: opacity 0.01s ease-in-out;
    transform: rotate(-5deg);
}

#OM.fade9neg {
    opacity: 0.55;
    -webkit-transition: opacity 0.01s ease-in-out;
    transition: opacity 0.01s ease-in-out;
    transform: rotate(-5deg);
}

#OM.fade10neg {
    opacity: 0.5;
    -webkit-transition: opacity 0.01s ease-in-out;
    transition: opacity 0.01s ease-in-out;
    transform: rotate(-5deg);
}

#OM.hide {
    visibility: hidden;
}

.txt {
    padding-top: 15px;
    color: white;
    font-size: large;
    width: 100%;
    height: 100%;
    text-align: center;
    word-wrap: break-word;
}