@import "../../views/styles/css/antd.css";
@import "./scss/styles.scss";
#app {
    display: flex;
    justify-content: center;
    >div {
        >p {
            display: flex;
            justify-content: center;
            padding: 7%;
        }
    }
}
@media only screen and (min-width: 1010px) {
    .Postsdiv {
        // margin-top: 80px !important;
        width: 800px !important;
    }
    .Postsdiv2 {
        // margin-top: 80px !important;
        width: 500px !important;
    }
    
}
// @media only screen and (max-width: 710px) {
//     .Postsdiv {
//         width: 250px !important;
//     }
//     .Bif{
//         // margin-top: 90px;
//     }
//     .Postsdiv2 {
//         width: 200px !important;
//     }
    
// }
@media only screen and (max-width: 710px) {
    .Postsdiv {
        width: 300px !important;
    }
  
    .Postsdiv2 {
        width: 300px !important;
        margin-left: 70px !important;
    }
    .Belse1 {
        
        width: 300px !important;
        margin-left: 70px !important;
        
    }
    
    .Belse2 {
      
        width: 300px !important;
        margin-left: 70px !important;
        
    }
    
}
.Postsdiv {
    @extend .container;
    width: 400px;
    border-radius: 2px;
    margin-top: 90px;
}
.Postsdiv2 {
    @extend .container;
    width: 400px;
    border-radius: 2px;
    margin-top: 90px;
}


.textStyle {
    text-align: center;
    text-justify: center;
    padding: 10px;
    overflow-wrap: break-word;
    &:hover {
        cursor: pointer;
    }
}

.Bif {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 2px;
    width: calc(100%);
    height: calc(84% + 4px);
    margin-top: 90px;
}

.Belse1 {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 2px;
    width: calc(100%);
    height: calc(84% + 4px);
    margin-top: 90px;
}

.Belse2 {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 2px;
    width: calc(100%);
    height: calc(84% + 4px);
    margin-top: 90px;
}
