
@import '../../../node_modules/antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Rubik+Mono+One&display=swap');


 .Postsdiv{
     width: 900px;
     background-color: rgb(0,0,0,0);
     border-radius: 80px;
     padding: 20px;
     margin-top: 40px;
     margin-bottom: 40px;
 }
.textStyle{
    text-align: center;
    text-justify: center;
    padding: 10px;
    overflow-wrap: break-word;
   
}
.textStyle:hover{
    cursor: pointer;
}
.textStyleOnePost{
    text-align: center;
    text-justify: center;
    justify-items: center;
    justify-self: center;
    justify-content: center;
    padding: 20px;
    margin: 40px;
    overflow-wrap: break-word;
}
.Bif{
    background-color: rgb(0,0,0,0.1);
    width: 690px;
    margin-top: 5.5%;
    margin-left: 10%;
    border-radius: 85px;
}
.Belse{
    background-color: rgb(0,0,0,0.1);
    width: 393px;
    margin-top: 5.5%;
    margin-left: 1.4%;
    border-radius: 85px;
}