/* @import '~antd/dist/antd.css'; */

@import "../../views/styles/css/antd.css";
@import "./scss/styles.scss";

/* @import '~antd/dist/antd.dark.css'; */

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(210px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadein1 {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fadein2 {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fadein3 {
    0% {
        opacity: 0;
        transform: translateY(60px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fadein4 {
    0% {
        opacity: 0;
        transform: translateY(80px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.img {
    animation-name: slide;
    animation-duration: 2.5s;
    width: 100px;
    height: auto;
    transition: all 1s ease;
    background-color: rgb(189, 189, 189);
    border: 1px rgb(189, 189, 189) solid;
}

.maindiv {
    flex: true;
    justify-content: center;
    justify-self: center;
}

#app {
    >div.maindiv {
        >div {
            border-radius: 2px !important;
            background-color: rgba(255, 255, 255, 0.9);
            justify-self: center;
            justify-content: center;
            height: fit-content;
            padding-bottom: 0;
            >div {
                >div.PicandName {
                    >div.name {
                        >h1 {
                            justify-self: center;
                            justify-content: center;
                        }
                        justify-self: center;
                        justify-content: center;
                    }
                }
                >div {
                    &:nth-child(2) {
                        >div.ant-row {
                            align-content: center;
                            margin-top: 11.4%;
                            margin-left: -4.7%;
                            margin-right: -9%;
                        }
                        >div.userNameDiv {
                            >h2 {
                                >input {
                                    width: 70% !important;
                                    margin: 2.5%;
                                    margin-left: 45px;
                                }
                            }
                        }
                        >div.bioDiv {
                            >h2 {
                                >input {
                                    width: 70% !important;
                                    margin: 2.5%;
                                    margin-left: 82px;
                                }
                            }
                        }
                        >div.birthDayDiv {
                            >h2 {
                                >input {
                                    width: 70% !important;
                                    margin: 2.5%;
                                    margin-left: 10px;
                                }
                            }
                        }
                        // >div.interestsDiv {
                        // 	>h2 {
                        // 		>input {
                        // 			width: 70% !important;
                        // 			margin:  2.5%;
                        // 			margin-left: 100px;
                        // 		}
                        // 	}
                        // }
                    }
                }
                padding-bottom: 0;
            }
        }
        display: flex;
        justify-self: center;
        justify-content: center;
    }
}

.container2 {
    @extend .container;
    padding: 1px;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 50%;
    height: auto;
    // border-radius: 2px;
    border-color: rgb(34, 75, 75);
}
.container3 {
    @extend .container;
    padding: 1px;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 50%;
    height: auto;
    // border-radius: 2px;
    border-color: rgb(34, 75, 75);
}
@media only screen and (max-width: 600px) {
    .container2 {
        margin-top: 110px;
        width: 350px !important;
        height: 300px !important;
    }
    .container3 {
        margin-top: 50px;
        width: 350px !important;
        height: 400px !important;
    }
    .img{
        width: 60px;
        height: auto;
    }
    .PicandName {
        height: 60px !important; 
    }
    .textUserName{
        font-size: small;
    }
    .nameT{
        margin-top: 8px;
        font-size: small !important;
    }
    .userName{
        
        font-size: small !important;
        margin-left: 150px !important;
    }
    .ChangeAvatarB{
        width: calc(40%) !important;
        font-size: 10px !important;
        text-align: center !important;
        margin-left: 150px !important;
    }
    .textBio{
        font-size: small;
    }
    .textBirthDay{
        font-size: small;
    }
    .textInterests{
        font-size: small;
    }
    .viewProB{
        width: calc(30% + 27px) !important;
        font-size: 10px !important;
        text-align: center !important;
        margin-top: 22px !important;
        margin-left: -25.5px !important;
    }
    .delProB{
        width: calc(30% + 27px) !important;
        font-size: 10px !important;
        text-align: center !important;
        margin-top: 22px !important;
        margin-right: -40px !important;
    }
    .editProB{
        width: calc(30% + 26.5px) !important;
        font-size: 10px !important;
        text-align: center !important;
        margin-top: 22px !important;
    }
    .ant-btn{
        height: 25px !important;
    }
    .doneB{
        margin-top: 25px !important;
    }
    .ant-modal{
        width: 270px !important;
    }
    .userIn{
        margin-left: 25px !important;
    }.bioIn{
        margin-left: 40px !important;
    }.birthIn{
        margin-left: 8px !important;
    }
}
// @media only screen and (max-width: 768px) {
//     .container2 {
//         margin-top: 60px;
//         width: 550px !important;
//         height: 500px !important;
//     }
//     .container3 {
//         margin-top: 50px;
//         width: 550px !important;
//         height: 600px !important;
//     }
//     .img{
//         width: 80px;
//         height: auto;
//     }
//     .PicandName {
//         height: 80px !important; 
//     }
//     .textUserName{
//         font-size: medium;
//     }
//     .nameT{
//         margin-top: 12px;
//         font-size: medium !important;
//     }
//     .userName{
        
//         font-size: medium !important;
//         margin-left: 180px !important;
//     }
//     .ChangeAvatarB{
//         width: calc(50%) !important;
//         font-size: 20px !important;
//         text-align: center !important;
//         margin-left: 180px !important;
//     }
//     .textBio{
//         font-size: medium;
//     }
//     .textBirthDay{
//         font-size: medium;
//     }
//     .textInterests{
//         font-size: medium;
//     }
//     .viewProB{
//         width: calc(30% + 30px) !important;
//         font-size: 20px !important;
//         text-align: center !important;
//         margin-top: 27px !important;
//         margin-left: -25.5px !important;
//     }
//     .delProB{
//         width: calc(30% + 30px) !important;
//         font-size: 20px !important;
//         text-align: center !important;
//         margin-top: 27px !important;
//         margin-right: -40px !important;
//     }
//     .editProB{
//         width: calc(30% + 29.5px) !important;
//         font-size: 20px !important;
//         text-align: center !important;
//         margin-top: 27px !important;
//     }
//     .ant-btn{
//         height: 30px !important;
//     }
//     .doneB{
//         margin-top: 30px !important;
//     }
//     .ant-modal{
//         width: 300px !important;
//     }
//     .userIn{
//         margin-left: 30px !important;
//     }.bioIn{
//         margin-left: 45px !important;
//     }.birthIn{
//         margin-left: 13px !important;
//     }
// }
.PicandName {
    background-color: rgba(0, 0, 0, 0.1);
    height: 90%;
    width: 98%;
    border-radius: 2px;
}

.name {
    padding-top: 5%;
    padding-right: 95%;
    padding-left: 2%;
    justify-self: center;
    justify-content: center;
}

.ChangeAvatarB {
    // margin-top: -100px;
    // margin-left: -240px;
}

.userName {
    margin-top: 8px;
    margin-bottom: 1px;
}

.NameandB {
    margin-left: -270px;
}

.userNameDiv {
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.1);
    margin-left: 1%;
    margin-right: 2%;
}

.birthDayDiv {
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.1);
    margin-left: 1%;
    margin-right: 2%;
}

.interestsDiv {
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.1);
    margin-left: 1%;
    margin-right: 2%;
}

.bioDiv {
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.1);
    margin-left: 1%;
    margin-right: 2%;
}

.textUserName {
    margin-top: 7%;
    margin-left: 1%;
    animation-name: fadein1;
    animation-duration: 3s;
}

.textBio {
    margin-top: 7%;
    margin-left: 1%;
    animation-name: fadein2;
    animation-duration: 3s;
    overflow-wrap: break-word;
}

.textBirthDay {
    margin-top: 7%;
    margin-left: 1%;
    animation-name: fadein3;
    animation-duration: 3s;
}

.textInterests {
    margin-top: 7%;
    margin-left: 1%;
    animation-name: fadein4;
    animation-duration: 3s;
}

.viewProB {
    width: calc(31% + 28.15px);
    // margin: 10px -25px -1px -25px;
    margin-top: 10px;
    margin-left: -25.1px;
    
}

.editProB {
    width: calc(31% + 28.2px);
    // margin: 10px -25px -1px -25px;
    margin-top: 10px;
    
}
.delProB {
    width: calc(31% + 29.5px);
    // margin: 10px -25px -1px -25px;
    margin-top: 10px;
    margin-right: -23.8px;
}

.doneB {
    width: calc(100% + 50px);
    margin: 10px -25px -1px -25px;
}



.EditInB {
    margin: 2.5%;
    margin-left: 7px;
}
.PassIn{
    margin-top: 20px;
}