.SmallTotalExplore {
    visibility: hidden;
}

.tik {
    visibility: hidden;
}

.zarb {
    visibility: hidden;
}

.smallCon {
    visibility: hidden;
}

.buttons {
    visibility: hidden;
}

.MyCheck {
    visibility: hidden;
}

.SideMenu {
    visibility: hidden;
}

@media screen and (max-width: 780px) {
    html,
    body {
        height: 100%;
        overflow: hidden
    }
    .SmallTotalExplore {
        text-align: center;
        word-wrap: break-word;
        visibility: visible;
        background-color: rgb(0, 0, 0, 0.36);
        width: 90%;
        align-content: center;
        height: 70%;
        border-radius: 60px;
        border: 3px solid white;
        text-justify: center;
        justify-items: center;
        justify-self: center;
        justify-content: center;
        opacity: 1;
        -webkit-transition: opacity 0.01s ease-in-out;
        transition: opacity 0.01s ease-in-out;
        margin-left: 5%;
    }
    .tik {
        width: 100px;
        height: 100px;
        visibility: visible;
    }
    .zarb {
        width: 100px;
        height: 100px;
        visibility: visible;
    }
    .smallCon {
        position: relative;
        margin-right: 20px;
        visibility: visible;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    .buttons {
        margin-left: 5%;
        width: 100%;
        height: 100%;
        position: absolute;
        transform: translate(0%, 0%);
    }
    .textOpenningMessage {
        padding-top: 15px;
        font-size: large;
        color: white;
        width: 100%;
        height: 100%;
        text-align: center;
        word-wrap: break-word;
    }
    .MyCheck {
        width: 45%;
        font-size: 50px;
        color: rgb(77, 214, 77);
        visibility: visible;
    }
    .MyZarb {
        width: 45%;
        color: rgb(204, 63, 63);
        visibility: visible;
        font-size: 50px;
    }
}