.SmallTotalExplore {
    visibility: hidden;
}

.tik {
    visibility: hidden;
}

.zarb {
    visibility: hidden;
}

.smallCon {
    visibility: hidden;
}

.buttons {
    visibility: hidden;
}

.MyCheck {
    visibility: hidden;
}

.SideMenu {
    visibility: hidden;
}

.TopBar {
    visibility: hidden;
}

.TeamName {
    visibility: hidden;
}

@media screen and (max-width: 780px) {
    html,
    body {
        height: 100%;
        overflow: hidden
    }
    .SmallTotalExplore {
        margin-top: 5%;
        text-align: center;
        word-wrap: break-word;
        visibility: visible;
        background-color: rgb(156, 156, 156);
        width: 90%;
        align-content: center;
        height: 70%;
        border: 25px solid whitesmoke;
        text-justify: center;
        justify-items: center;
        justify-self: center;
        justify-content: center;
        opacity: 1;
        -webkit-transition: opacity 0.01s ease-in-out;
        transition: opacity 0.01s ease-in-out;
        margin-left: 5%;
    }
    .tik {
        width: 100px;
        height: 100px;
        visibility: visible;
    }
    .zarb {
        width: 100px;
        height: 100px;
        visibility: visible;
    }
    .smallCon {
        margin-top: -100px;
        position: relative;
        margin-right: 20px;
        visibility: visible;
        flex-direction: column;
        width: 100%;
        height: 100%;
        transition: all 0.4s ease-in-out;
    }
    .smallCon.move {
        margin-top: -100px;
        position: relative;
        margin-right: 20px;
        visibility: visible;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    .buttons {
        margin-top: 5%;
        margin-left: 5%;
        width: 100%;
        height: 100%;
        position: absolute;
        transform: translate(0%, 0%);
    }
    .textOpenningMessage {
        padding-top: 15px;
        font-size: large;
        color: white;
        width: 100%;
        height: 100%;
        text-align: center;
        word-wrap: break-word;
    }
    .MyCheck {
        width: 45%;
        font-size: 400%;
        color: rgb(199, 199, 199);
        visibility: visible;
    }
    .MyZarb {
        width: 45%;
        color: rgb(199, 199, 199);
        visibility: visible;
        font-size: 400%;
    }
    .TopBar {
        visibility: visible;
        position: fixed;
        top: 0;
        background-color: whitesmoke;
        width: 100%;
        height: 45px;
        z-index: -10;
    }
    .TeamName {
        visibility: visible;
        text-align: center;
        font-size: 30px;
    }
}