.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    -webkit-transition: opacity 0.01s ease-in-out;
    transition: opacity 0.01s ease-in-out;
}

.logoutToolbar {
    float: right;
}

@media screen and (max-width: 780px) {
    .toolbar {
        visibility: hidden;
    }
}